.chatView {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Livechat-ui-kit override*/
.chatView .css-fbz44z,
.chatView .css-1hu4na2 {
    border: 2px solid var(--primary-bright);
    background: var(--secondary-bright);
    box-shadow: 1px 2px 2px -2px #999;
}

.chatView .chatHeader {
    padding: 1rem;
    background: var(--secondary-bright);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    border-bottom: 1px solid var(--tertiary-bright);
}
.chatView .chatHeader img{
    height: 40px;
    border-radius: 30px;
    margin-right: 1rem;
}
.chatView .chatHeader .headerTitle {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
}
.chatView .chatHeader .headerTitle h1{
    display: inline;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
.chatView .chatHeader .headerTitle span{
    color: var(--tertiary-dark);
    text-transform: lowercase;
}
.chatView .chatHeader .headerLeft {
    display: flex;
}
.chatView .chatHeader .moreInfo {
    cursor: pointer;
}
.chatView .chatHeader .moreInfo img{
    filter: grayscale(100%)
}
.chatView .chatHeader .moreInfo img.active{
    filter: grayscale(0%)
}
.chatView .chatHeader .costumerOnline {
    color: var(--primary-contrast-color);
}
.chatView .chatHeader .costumerOffline {
    color: var(--tertiary-dark);
}

.chatView .chatBody {
    display: flex;
    flex-direction: row;   
    flex: 1;
}
.chatView .messageArea {
    display: flex;
    flex-direction: column;    
    flex: 1;
}
.chatView .costumerDetails {
    display: flex;
    position: absolute;
    right: -10%;
    flex-direction: column;
    flex: .5;
    opacity: 0;
    background: var(--secondary-bright);
    box-shadow: 0px 0px 6px -3px var(--primary-dark);
    transition: right 0.2s ease-out;
}

.chatView .costumerDetails.showCostumerDetails {
    position: relative;
    opacity: 1;
    transition: opacity .2s linear;
    right: 0%;
}

.chatView .costumerDetails header {
    padding: 1rem;
    background: #F0F0F0;
}
.chatView .costumerDetails header h1{
    font-size: 1.2rem;
    margin: 0px;
}
.chatView .costumerDetails .body {
    border-left: 2px solid var(--primary-bright);
    flex: 1;
}


/* Livechat-ui-kit override */
.chatView .chatHeader .css-em1vxk {
    background: var(--primary-contrast-color);
    color: var(--primary-bright);
    border: 0px;
}
