.customerList {
    padding: .55rem;
}
.customerList h1 {
    font-size: .85rem;
    text-transform: uppercase;
    color: var(--online-color);
}
.customerList .onlineCustomers {
    margin-bottom: 3rem;
}
.customerList .offlineCustomers h1{
    color: var(--tertiary-bright)
}

/* Livechat-ui-kit override */
.customerList .css-l9p4i4 {
    background: var(--primary-contrast-color);
    color: var(--primary-bright);
    border: 0px;
}
.customerList  .css-brl83k {
    margin-right: 4rem;
}