.sessionList {
    padding: .55rem;
}
.sessionList h1 {
    font-size: .85rem;
    text-transform: uppercase;
    color: var(--online-color);
}
.sessionList .onlineSessions {
    margin-bottom: 3rem;
}
.sessionList .offlineSessions h1{
    color: var(--tertiary-bright)
}

/* Livechat-ui-kit override */
.sessionList .css-l9p4i4 {
    background: var(--primary-contrast-color);
    color: var(--primary-bright);
    border: 0px;
}
.sessionList  .css-brl83k {
    margin-right: 4rem;
}