.mainArea{
  height: 100%;
  display: flex;
  background-image: url("/images/chat-background-7.png");
  background-size: 30%;
}

.chatListPane{
  flex: .25;
  max-width: 25%;
  border-right: 1px solid #E9E9E9;
  background: white;
  box-shadow: 1px 1px 8px -3px #777;
  z-index: 99;
}

.inputMessagePane {
  flex: .75;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(237, 245, 245, 0.95)
}
