:root {
  --primary-bright: white; 
  --secondary-bright: #FAFAFA;
  --tertiary-bright: #CFCFCF;
  
  --primary-dark: #000;
  --secondary-dark: #333;
  --tertiary-dark: #9F9F9F;
  
  --online-color: #a8ceab;
  --primary-contrast-color: #3d7ce4;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  height: 100%;
}